In [1]:
import numpy as np
import pandas as pd

# I) Création

In [2]:
# Vecteur
s = pd.Series([1, -3, 5, np.nan, 6, True])
print(s)
type(s)

0       1
1      -3
2       5
3     NaN
4       6
5    True
dtype: object

pandas.core.series.Series

In [9]:
# DataFrame
df = pd.DataFrame({
    "Mois": [np.nan, "Janv", "Fev", "Mars", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"],
    "x7": np.arange(0,13)*7,
    "+1": np.arange(0,13)+1,
    "exp": np.round(np.exp(np.arange(0,13)),2)
})
df

    Mois  x7  +1        exp
0    NaN   0   1       1.00
1   Janv   7   2       2.72
2    Fev  14   3       7.39
3   Mars  21   4      20.09
4    Avr  28   5      54.60
5    Mai  35   6     148.41
6   Juin  42   7     403.43
7   Juil  49   8    1096.63
8   Août  56   9    2980.96
9   Sept  63  10    8103.08
10   Oct  70  11   22026.47
11   Nov  77  12   59874.14
12   Déc  84  13  162754.79

 __ __ __ __ __ __ __ __ __ __ __ __ __ __ __

# II) Visualisation

In [10]:
m = np.random.randn(50, 6)
df2 = pd.DataFrame(m, columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'],
                  index=[f"patient {n}" for n in range(1,51)])
df2

# DESCRIPTION
df2.describe()

# HEAD & TAIL
df2.head()
df2.head(10)
df2.tail()
df2.tail(3)

# CONVERSION
df2.to_numpy()
df2.to_csv()

# TRI | TRI 1 COLONNE
df2.sort_values(by="X1")

# TRANSPOSEE
df2.T

# TABLE COMPTAGE
df.value_counts()

Mois  x7  +1  exp
Août  56  9   2980.96      1
Avr   28  5   54.60        1
Déc   84  13  162754.79    1
Fev   14  3   7.39         1
Janv  7   2   2.72         1
Juil  49  8   1096.63      1
Juin  42  7   403.43       1
Mai   35  6   148.41       1
Mars  21  4   20.09        1
Nov   77  12  59874.14     1
Oct   70  11  22026.47     1
Sept  63  10  8103.08      1
dtype: int64

# III) Selection

In [11]:
# 1 colonne : return dataframe
df2["X4"]
df2.T["patient 17"]

# >= 1 lignes : return dataframe
df2[13:14]
df2[36:49]
df2.T["X4":"X6"]
df2.T[3:6]

# PAR LABEL : return "list"
df2.loc["patient 5"]
df2.loc["patient 5", ["X5", "X6"]]
df2.loc[["patient 22","patient 1"], ["X3", "X5", "X1"]] # return dataframe
df2.loc["patient 10":"patient 15", ["X3", "X5", "X1"]] # return dataframe

# PAR BOOLEEN
df2[df2["X3"] > 2]
dff = df2.copy()
dff["X6"] = ["non", "j'ai", "perdu", "mes", "chiffres"]*10
dff
dff[dff["X6"].isin(["chiffres", "perdu"])]

                  X1        X2        X3        X4        X5        X6
patient 3  -1.554289 -0.678290  0.487746  0.156860 -0.602610     perdu
patient 5  -0.170801 -0.931638  0.274793 -0.540016 -0.787448  chiffres
patient 8   0.779118  0.914797  0.839745 -1.840291  0.861797     perdu
patient 10  0.909045 -1.471337 -0.446437  1.089894  1.004820  chiffres
patient 13 -0.426079  0.269040  0.449345  0.970678  0.935250     perdu
patient 15 -0.902005 -0.210207  0.822865  0.615310 -0.536107  chiffres
patient 18  2.723495  0.442090 -1.124554  0.509261  0.212331     perdu
patient 20 -0.206450 -0.364152 -0.649134 -0.308380  1.736639  chiffres
patient 23 -0.978631  0.122509 -0.167805 -1.061986  0.413958     perdu
patient 25 -1.866303 -0.571907 -0.680184 -0.349489  0.034098  chiffres
patient 28 -0.980663  0.174694 -0.476888  1.102128  1.492934     perdu
patient 30  0.738546 -2.570417  1.139454  0.712623  1.222893  chiffres
patient 33 -0.290558  1.785432 -1.158612 -0.038584 -0.455536     perdu
patient 35 -1.499465  2.781495 -1.358570 -0.695588  1.025276  chiffres
patient 38 -0.080393 -0.430579 -0.869192 -0.601502 -1.404368     perdu
patient 40  1.014419  0.950666 -1.303885 -0.547963  1.387017  chiffres
patient 43 -0.278707 -0.758985  0.154316 -0.817096  0.932471     perdu
patient 45  0.274200  0.481707  0.305298  1.180605  1.139612  chiffres
patient 48  0.017972  0.625934  0.105737 -0.379599  0.915190     perdu
patient 50 -1.423033 -0.256731  1.034071  0.060783  0.211796  chiffres

# IV) Operation

In [34]:
# MOYENNE
df2.mean() # tout
df2.mean(axis=1) # ligne
df2.mean(axis=0) # colonne

# APPLY
ddf = df2.copy()
ddf.loc[:,"X1":"X6"].apply(lambda x: x.max()-x.min())
ddf.loc[:,"X1":"X6"].apply(np.mean)

# SQL COMMAND
## CONCATENATION
DF = pd.DataFrame(["H" if np.random.randint(2) else 'F' for _ in range(50)],
                  columns=["sexe"],
                  index=[f"patient {n}" for n in range(1,51)])
df3 = pd.concat([df2, DF], axis=1)

## JOIN
if False:
    pd.merge(left, right, on='key')

## GROUP BY
dfc = df3.groupby("sexe")[["X1", "X2", "X4", "X5"]].mean()
dfc

            X1        X2        X4        X5
sexe
F    -0.070740  0.000486  0.121181  0.168908
H    -0.104308 -0.333728  0.025422  0.703422