In [2]:
import numpy as np
import pandas as pd

# I) Création

In [3]:
# Vecteur
s = pd.Series([1, -3, 5, np.nan, 6, True])
print(s)
type(s)

0       1
1      -3
2       5
3     NaN
4       6
5    True
dtype: object

pandas.core.series.Series

In [4]:
# DataFrame
df = pd.DataFrame({
    "Mois": [np.nan, "Janv", "Fev", "Mars", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"],
    "x7": np.arange(0,13)*7,
    "+1": np.arange(0,13)+1,
    "exp": np.round(np.exp(np.arange(0,13)),2)
})
df

    Mois  x7  +1        exp
0    NaN   0   1       1.00
1   Janv   7   2       2.72
2    Fev  14   3       7.39
3   Mars  21   4      20.09
4    Avr  28   5      54.60
5    Mai  35   6     148.41
6   Juin  42   7     403.43
7   Juil  49   8    1096.63
8   Août  56   9    2980.96
9   Sept  63  10    8103.08
10   Oct  70  11   22026.47
11   Nov  77  12   59874.14
12   Déc  84  13  162754.79

 __ __ __ __ __ __ __ __ __ __ __ __ __ __ __

# II) Visualisation

In [5]:
m = np.random.randn(50, 6)
df2 = pd.DataFrame(m, columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'],
                  index=[f"patient {n}" for n in range(1,51)])
df2

# DESCRIPTION
df2.describe()

# HEAD & TAIL
df2.head()
df2.head(10)
df2.tail()
df2.tail(3)

# CONVERSION
df2.to_numpy()
df2.to_csv()

# TRI | TRI 1 COLONNE
df2.sort_values(by="X1")

# TRANSPOSEE
df2.T

# TABLE COMPTAGE
df.value_counts()

Mois  x7  +1  exp
Août  56  9   2980.96      1
Avr   28  5   54.60        1
Déc   84  13  162754.79    1
Fev   14  3   7.39         1
Janv  7   2   2.72         1
Juil  49  8   1096.63      1
Juin  42  7   403.43       1
Mai   35  6   148.41       1
Mars  21  4   20.09        1
Nov   77  12  59874.14     1
Oct   70  11  22026.47     1
Sept  63  10  8103.08      1
dtype: int64

# III) Selection

In [6]:
# 1 colonne : return dataframe
df2["X4"]
df2.T["patient 17"]

# >= 1 lignes : return dataframe
df2[13:14]
df2[36:49]
df2.T["X4":"X6"]
df2.T[3:6]

# PAR LABEL : return "list"
df2.loc["patient 5"]
df2.loc["patient 5", ["X5", "X6"]]
df2.loc[["patient 22","patient 1"], ["X3", "X5", "X1"]] # return dataframe
df2.loc["patient 10":"patient 15", ["X3", "X5", "X1"]] # return dataframe

# PAR BOOLEEN
df2[df2["X3"] > 2]
dff = df2.copy()
dff["X6"] = ["non", "j'ai", "perdu", "mes", "chiffres"]*10
dff
dff[dff["X6"].isin(["chiffres", "perdu"])]

                  X1        X2        X3        X4        X5        X6
patient 3   1.044432  0.131385  1.097707  0.206872  0.530996     perdu
patient 5  -2.072295 -2.523637 -0.533221  0.360877  0.770944  chiffres
patient 8  -1.159827 -0.391953  0.825350  0.465234  1.668656     perdu
patient 10 -0.170412  0.629880 -0.026412  1.202011 -2.593370  chiffres
patient 13 -1.361932 -0.686523 -0.830348 -0.420224  0.398307     perdu
patient 15 -0.404727  1.768996  1.022827  0.103052 -0.385085  chiffres
patient 18  0.111045 -0.477756 -0.167810  0.242696  0.547206     perdu
patient 20  0.806558 -1.092128  0.672395 -0.183421 -0.258172  chiffres
patient 23  2.000113  0.703799  1.320987 -0.790245  1.311583     perdu
patient 25 -0.427512 -0.305693 -1.441474 -0.209702 -0.233607  chiffres
patient 28 -1.035183  0.584726  1.448649  1.084994 -0.077749     perdu
patient 30 -0.072256 -0.094421  1.780428  0.278319  0.123675  chiffres
patient 33 -0.885340  0.143958 -0.535839  0.261606  0.370580     perdu
patient 35  1.434829  0.824851  1.763583  1.173205  1.392621  chiffres
patient 38  0.166350  0.066838  0.914373  0.016009  0.509816     perdu
patient 40  0.343213 -0.467142  1.647713  0.234688  1.330024  chiffres
patient 43 -0.321901 -0.372226 -0.809935  0.863899  1.867552     perdu
patient 45  0.767532 -0.409138 -1.339538  0.248029  1.676561  chiffres
patient 48 -1.548224  0.737339 -0.754050  0.569987  0.562577     perdu
patient 50  0.400549  0.989275 -1.130821  0.900428 -1.510358  chiffres

# IV) Operation

In [11]:
# MOYENNE
df2.mean() # tout
df2.mean(axis=1) # ligne
df2.mean(axis=0) # colonne

# APPLY
ddf = df2.copy()
ddf.loc[:,"X1":"X6"].apply(lambda x: x.max()-x.min())
ddf.loc[:,"X1":"X6"].apply(np.mean)

# SQL COMMAND
## CONCATENATION
DF = pd.DataFrame(["H" if np.random.randint(2) else 'F' for _ in range(50)],
                  columns=["sexe"],
                  index=[f"patient {n}" for n in range(1,51)])
df3 = pd.concat([df2, DF], axis=1)

## JOIN
if False:
    pd.merge(left, right, on='key')

## GROUP BY
dfc = df3.groupby("sexe")[["X1", "X2", "X4", "X5"]].mean()
dfc
dfc.stack()
dfc.stack().unstack()
dfc.stack().unstack(0)

sexe         F         H
X1    0.097368 -0.139603
X2   -0.237548 -0.109433
X4   -0.059435  0.422323
X5    0.812729 -0.042575